@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: 'Titillium Web';
    box-sizing: border-box;
}

body{
    background-color: #ddddde;
}

.menu{
    display: flex;
    flex-direction: row;
    background-color: #222b3c;
    align-items: center;
    height: auto;
    justify-content: space-around;
    padding: 10px;
    margin: -8px;
    list-style-type: none;
}

a{
    color: #f05a21;
    text-decoration: none;
}
a:hover{
    color: #ddddde;
}
#aktiv{
    font-weight: bolder;
    color: #ddddde;
}

h1{
    margin: 50px 0 50px 50px;
}
p{
    margin: 0 0 0 50px;
    line-height: 1.8;
}

.button{
    background-color: #f05a21;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    padding: 14px 0px 14px 0px;
    font-size: 20px;
    width: 210px;
    text-align: center;
}
.knaplink{
    display: flex;
    justify-content: start;
    text-decoration: none;
  }

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}